# Node / Vue
node_modules/
dist/
.env
.env.local
.env.*.local

# Vite
.vite/
.cache/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET secrets
secrets.json

# Publish output
wwwroot/mocks/*.json

# OS
ehthumbs.db
Icon?
Desktop.ini

# Others
*.log
*.tmp
*.bak
